@mixin paddedBorder($posVertical, $posHorizontal, $value) {
  width: calc(100% - (2 * #{$value}));
  height: calc(100% - (2 * #{$value}));
  #{$posVertical}: $value;
  #{$posHorizontal}: $value;
}

.header-text {
  position: relative;
  background: rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 25px;
  padding: 5px;
  text-transform: uppercase;

  &:before {
    content: '';
    display: block;
    position: absolute;
    @include paddedBorder(top, left, -5px);
    border-top: thin solid rgba(0, 0, 0, 0.25);
    border-left: thin solid rgba(0, 0, 0, 0.25);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    @include paddedBorder(bottom, right, -5px);
    border-bottom: thin solid rgba(0, 0, 0, 0.25);
    border-right: thin solid rgba(0, 0, 0, 0.25);
  }
}