@import "mixins";

.btn-base {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 15px 0;
}

.btn-icon {
  @include backgroundOpacity(0.75);
  vertical-align: middle;
  float: left;
  padding: 5px 10px;

  > object {
    pointer-events: auto;
    cursor: $customCursor;
  }
}

.btn-selection {
  @extend .btn-base;
  @include btn-gradient;
  text-align: left;
  margin: 5px 0;
  border: thin solid #E2CA9A;
  @include transition(1s);

  &:hover {
    @include btn-gradient-hover
  }
}

.btn-text {
  display: table-cell;
  vertical-align: middle;
  height: 64px;
  padding: 0 10px;
}

.btn-disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.50;
}

.btn-yes, .btn-no {
  > span {
    position: relative;
    top: 30%;
    font-size: 1.25em;

    &:before {
      width: 32px;
      height: 32px;
      display: table-cell;
      vertical-align: middle;

      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
  }

  &:hover {
    > span {
      position: relative;
      top: 35%;

      &:before {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}

.btn-yes {
  > span {
    font-size: 1.5em;

    &:before {
      content: 'YES';
    }
  }

  &:hover {
    > span {
      &:before {
        content: '✓';
        color: green;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

.btn-no {
  > span {
    font-size: 1.5em;

    &:before {
      content: 'NO';
    }
  }

  &:hover {
    > span {
      &:before {
        content: '✗';
        color: red;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
