@import "variables";

@mixin background {
  background: url('../assets/images/background.jpg') no-repeat;
  background-size: cover;
}

@mixin backgroundOpacity($opacity) {
  background: rgba(0, 0, 0, $opacity);
}

@mixin btn-gradient {
  background: rgba(0, 0, 0, 0.5);
  background-size: 200% 100%;
}

@mixin btn-gradient-hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), $secondaryColor) -100% 0%;
}

@mixin btn-scale($scale) {
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
  transform: scale($scale);
}

@mixin transition($duration) {
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  -ms-transition: all $duration ease;
  -o-transition: all $duration ease;
  transition: all $duration ease;
}

@mixin btn-flipY($angle, $scale) {
  -webkit-transform: rotateY($angle) scale($scale);
  -moz-transform: rotateY($angle) scale($scale);
  -ms-transform: rotateY($angle) scale($scale);
  -o-transform: rotateY($angle) scale($scale);
  transform: rotateY($angle) scale($scale);
}

@mixin btn-flipX($angle, $scale) {
  -webkit-transform: rotateX($angle) scale($scale);
  -moz-transform: rotateX($angle) scale($scale);
  -ms-transform: rotateX($angle) scale($scale);
  -o-transform: rotateX($angle) scale($scale);
  transform: rotateX($angle) scale($scale);
}

@mixin btn-size($width, $height) {
  width: $width;
  height: $height;
}

@mixin btn-shadow {
  box-shadow: 4px 4px 10px teal;
}

