$baseFont: Lato, sans-serif;
$customFont: 'Blender Pro', sans-serif;
$backgroundHalfOpacity: rgba(0, 0, 0, 0.5);
$primaryColor: #E2CA9A;
$secondaryColor: #D40265;
$bgPrimaryColor: #1B242F;
$bgLightColor: #E5E5E5;
$fontDarkColor: #191919;
$fontLightColor: #E5E5E5;
$overlayBackgroundColor: rgba(0, 0, 0, 0.75);
$baseWidth: 100%;
$baseHeight: 100%;
$viewportWidth: 100vw;
$viewportHeight: 100vh;
$customCursor: url('../assets/icons/icon-cursor.png') 16 16, auto;
