// Vendor
@import "~bootstrap/scss/bootstrap";
// Custom
@import "blender-pro";
@import "variables";
@import "buttons";
@import "mixins";
@import "banner";
@import "transition";
@import "video";

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: $customFont;
  @include background;
  max-width: $viewportWidth;
  max-height: $viewportHeight;
  overflow: hidden;
  color: #E2CA9A;
}

body {
  line-height: 1.25;
}

ol, ul {
  list-style: none;
}

section, video {
  width: $viewportWidth;
  height: $viewportHeight;
  cursor: $customCursor;
}

section {
  background: url("../assets/images/background.jpg") no-repeat;
  background-size: cover;
}

video {
  background: #000000;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: $bgLightColor;
  border-bottom: 2px solid white;
}

.incompatible-device {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  background-color: $bgPrimaryColor;
  color: $fontLightColor;
  text-align: center;
  width: $viewportWidth;
  height: $viewportHeight;
  font-size: 2em;
}

a {
  color: $fontLightColor;
  text-decoration: none;
  &:focus, &:hover {
    color: $fontLightColor;
    text-decoration: none;
  }
}

#action-choices, #funding-choices {
  > li[class*=disabled] {
    cursor: not-allowed;
    &:hover {
      background-color: $backgroundHalfOpacity;
      cursor: not-allowed;
    }
  }
}

.border-choices {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.85);
}

.navbar .nav > li:first-child > a {
  background: transparent;

  &:hover, &:focus {
    background: transparent;
  }
}

.choice-action, .choice-funding {
  &.active {
    background: $secondaryColor;
  }

  &.disabled, &:disabled, &.disabled:hover {
    pointer-events: none;
    cursor: not-allowed;
    background: rgba(255, 255, 255, 0.25);
  }
}

.overlay {
  position: relative;
  width: $viewportWidth;
  height: $viewportHeight;
  @include background;
}

.base-overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.splash-screen {
  @extend .base-overlay;

  opacity: 1;
  visibility: visible;
  color: $fontLightColor;
}

.image-overlay {
  @extend .base-overlay;
  @include background;

  &.overlay-active {
    opacity: 1;
    visibility: visible;
  }
}

.btn-splash {
  @include btn-size(150px, 125px);
  padding: 1em 1.5em;
  color: $fontLightColor;
  border: transparent;
  cursor: $customCursor;
  @include btn-gradient;
  @include transition(1s);

  &:hover {
    @include btn-gradient-hover;
  }
}

.btn-choice {
  @extend .btn-base;
  width: 128px;
  height: 128px;
  background: transparent url("../assets/images/btn-hexagon.svg");
  background-size: 100% 100%;
  border: 0;
  font-size: 1.25em;
  padding: 1em 1.25em;
  @include transition(1s);
}

@keyframes flashing {
  0%, 100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    opacity: 0.5;
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
  }
}

@media print {
  ::first-letter {
    margin: 0;
    padding: 0;
  }

  * {
    color: #000000;
  }

  table {
    font-size: 12pt;
    background-color: #000000;
  }
}

.padding-remove {
  padding: 0;
}

.margin-remove {
  margin: 0;
}
