@font-face {
  font-family: 'Blender Pro';
  src: url('../assets/fonts/blender-pro-book.eot');
  src: url('../assets/fonts/blender-pro-book.woff2') format('woff2'),
  url('../assets/fonts/blender-pro-book.woff') format('woff'),
  url('../assets/fonts/blender-pro-book.ttf') format('truetype'),
  url('../assets/fonts/blender-pro-book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}