<template>
  <section id="consequence">
    <audio :src="require(`@/assets/audio/audio.mp3`)" autoplay loop></audio>
    <video :src="require(`@/assets/videos/consequence/${currentConsequenceVideo}.mp4`)" preload autoplay controls
           @ended="playVideoQueue">
    </video>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'consequence',
    data () {
      return {
        consequencesVideos: [],
        count: 0,
        currentConsequenceVideo: null,
        progress: 20
      }
    },
    beforeRouteEnter (to, from, next) {
      document.title = `${to.meta.title} - Climate Change`

      next(vm => {
        if (vm.consequencesVideos.length > 0) {
          next()
        } else {
          vm.$store.commit('setMessage', { message: 'Error loading page. It appears that you have not made your choices.' })

          vm.$router.push('/choice')
        }
      })
    },
    computed: {
      ...mapState(['generatedReport'])
    },
    mounted () {
      const generatedReport = this.generatedReport
      const videos = Object.keys(generatedReport).map(key => generatedReport[key].id + generatedReport[key].consequence.id)
      this.consequencesVideos = videos

      this.currentConsequenceVideo = videos[this.count]
    },
    methods: {
      playVideoQueue () {
        this.progress += 20
        const player = this.$el.querySelector('video')
        this.count++

        if (this.count >= 5) {
          this.$router.push('/report')
        } else {
          this.currentConsequenceVideo = this.consequencesVideos[this.count]

          player.load()
        }
      },
      navigate (path, params = {}) {
        this.$router.push({
          name: path,
          params: params
        })
      }
    }
  }
</script>
