<template>
  <section id="reports"
           :style="{ backgroundImage: `url(${require(`@/assets/images/background.jpg`)})`, backgroundRepeat: 'no-repeat', backgroundSize: 'cover' }">
    <div class="container">
      <div class="d-flex" style="height: 100vh;">
        <div class="align-self-center">
          <div class="row justify-content-center">
            <h2 class="header-text">The Confederation under your leadership</h2>
          </div>

          <br/>

          <div class="row">
            <div class="col-12">
              <table class="table-responsive">
                <tr class="h4 text-center">
                  <th>Choice</th>
                  <th>Outcome</th>
                  <th>Consequence</th>
                </tr>

                <tr :key="item.id" v-for="item in generatedReport">
                  <td>{{ item.choice }}</td>
                  <td>{{ item.outcome }}</td>
                  <td>{{ item.consequence.description }}</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row justify-content-center align-items-center" id="actions-report-card">
            <div class="btn-choice" :style="{ backgroundImage: `url(${require(`@/assets/images/btn-hexagon.svg`)})` }" @click="printPage">
              <span>Print</span>
            </div>

            <div class="btn-choice" :style="{ backgroundImage: `url(${require(`@/assets/images/btn-hexagon.svg`)})` }" @click="$router.push('/personality')">
              <span>Next</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'Report',
    beforeRouteEnter: (to, from, next) => {
      document.title = `${to.meta.title} - Climate Change`

      next(vm => {
        if (vm.$store.state.generatedReport.length > 0) {
          next()
        } else if (vm.$store.state.clickCount < 5) {
          vm.$store.commit('setMessage', { message: 'You do not have permission to view this page.' })

          vm.$router.push('/')
        } else {
          vm.$store.commit('setMessage', { message: 'You do not have permission to view this page.' })

          vm.$router.push('/')
        }
      })
    },
    computed: {
      ...mapState(['generatedReport'])
    },
    methods: {
      printPage () {
        window.print()
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../sass/_mixins";

  h4 {
    > span {
      font-size: medium;
    }
  }

  table {
    background: rgba(0, 0, 0, 0.25);
  }

  th, td {
    padding: 15px;
  }

  th {
    border-bottom: thin solid rgba(255, 255, 255, 0.1);
  }

  td {
    border: thin solid rgba(255, 255, 255, 0.1);
  }

  .btn-choice {
    > span {
      position: relative;
      top: 35%;
    }
  }

  #actions-report-card {
    @media print {
      display: none;
    }
  }
</style>
