<template>
  <section id="personalities"
           :style="{ backgroundImage: `url(${require(`@/assets/images/background.jpg`)})`, backgroundRepeat: 'no-repeat', backgroundSize: 'cover' }">
    <transition-slide :key="slideIndex" :transitions="transitions" :slideIndex="slideIndex"
                      v-if="hasTransitionSlides"></transition-slide>
    <div class="container">
      <div class="row justify-content-center" style="height: 100vh;">
        <div class="align-self-center">
          <div class="row justify-content-center">
            <div class="text-center">
              <h2 class="header-text">Personality</h2>
            </div>

          </div>

          <p class="text-center">( Click circle for more description )</p>

          <br/>

          <div class="row justify-content-center">
            <div class="col-2 text-center" v-for="(personality, index) in personalities"
                 :key="personality.type">
              <div class="personality-chart" :class="selectedIndex === index ? 'selected' : ''"
                   @click="viewPersonality(index)">
                <div class="personality-text">{{ percentageOccurrence(personality.occurrence) }}%</div>
              </div>
              <br/>
              <p class="personality-caption">{{ personality.type }}</p>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-8">
              <div class="content-body h-100">
                <transition name="fade" mode="out-in">
                  <div :key="selectedIndex">
                    <h3 class="text-uppercase text-center">
                      {{ personalities[selectedIndex].type }}
                    </h3>
                    <div class="content-description">
                      <p v-for="description in personalities[selectedIndex].desc"
                         :key="description.type"
                         v-html="description.paragraph"></p>
                    </div>
                  </div>
                </transition>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="btn-choice btn-repeat"
                 :style="{ backgroundImage: `url(${require(`@/assets/images/btn-hexagon.svg`)})` }"
                 @click="restartGame">
              <span>Restart</span>
            </div>

            <div class="btn-choice btn-next"
                 :style="{ backgroundImage: `url(${require(`@/assets/images/btn-hexagon.svg`)})` }" @click="exitGame">
              <span>Exit</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'
  import TransitionSlide from '@/components/TransitionSlide'

  export default {
    name: 'Personality',
    components: { TransitionSlide },
    beforeRouteEnter: (to, from, next) => {
      document.title = `${to.meta.title} - Climate Change`

      next(vm => {
        vm.hasTransitionSlides = true

        if (vm.$store.state.generatedReport.length) {
          next()
        } else {
          vm.$store.commit('setMessage', {
            message: 'You are unable to access this page.'
          })

          vm.$router.push('Choice')
        }
      })
    },
    data () {
      return {
        hasTransitionSlides: false,
        slideIndex: 0,
        transitions: [
          {
            slides: [
              {
                loaded: false,
                content:
                  'There are many possible propositions to address the issue of climate change.'
              },
              {
                loaded: false,
                content: 'The short and long-term consequences are'
              },
              {
                loaded: false,
                content: 'sometimes positive,'
              },
              {
                loaded: false,
                content: 'sometimes negative,'
              },
              {
                loaded: false,
                content:
                  'depending on <span style="color: #D40265">many</span> factors'
              }
            ]
          },
          {
            slides: [
              {
                loaded: false,
                content:
                  'You have made some very important decisions in confronting climate change.'
              },
              {
                loaded: false,
                content:
                  'Whatever the consequences are, your legacy will be one for the history books.'
              }
            ]
          }
        ],
        personalities: [
          {
            type: 'Vision-driven',
            desc: [
              {
                paragraph:
                  'Leaders who are vision-driven are well-respected for their perseverance in doing the right thing. They are unafraid of taking calculated risks to achieve the desired outcomes. With an inborn sense of idealism and morality, they are capable of taking concrete steps to realise their goals. Their task-oriented approach is sometimes perceived as lacking compassion.'
              },
              {
                paragraph:
                  '<span>Vision-driven leaders</span> excel at actualising industrial reforms, restructuring the economy, exploring alternative clean energy sources and backing environmental activists.'
              }
            ],
            occurrence: 0
          },
          {
            type: 'People-centric',
            desc: [
              {
                paragraph:
                  'Leaders who are people-centric feel a strong sense of responsibility in serving others and have deep compassion for them. They see things from the human angle with real concern for how others think and feel. They have an unshakable belief that all people are inherently good and are perhaps simply misunderstood. Some people perceive them as being emotion-driven.'
              },
              {
                paragraph:
                  '<span>People-centric leaders</span> excel at consultative leadership that places emphasis on walking the ground and being highly connected to the people via means like social media. They also believe in public engagement and excel at providing information to the public through education, training, incentive and deterrence.'
              }
            ],
            occurrence: 0
          },
          {
            type: 'Corporate-focused',
            desc: [
              {
                paragraph:
                  'Leaders who are corporate-focused value knowledge and competence above other qualities. They set high standards for their own performance, and expect the same of others. They almost always deliver within tough deadlines and are handsomely rewarded for their efforts. They have a low tolerance for errant behaviour. Their utilitarian approach to solving problems is not always understood and is often seen to be driven by a profit bottom line.'
              },
              {
                paragraph:
                  '<span>Corporate-focused leaders</span> excel at negotiating partnerships between the private sectors and the state. They also excel at developing policies focused on stimulating investments and growth, without neglecting corporate social responsibility.'
              }
            ],
            occurrence: 0
          },
          {
            type: 'Establishment-based',
            desc: [
              {
                paragraph:
                  'Establishment-based leaders are stable and practical, and value security and traditions. They strive to create order and security by establishing rules and structure. They are guided by the wisdom of the past and no one can accuse them of being impulsive or biased. They are sound and predictable but people perceive them as unwilling to take risks.'
              },
              {
                paragraph:
                  '<span>Establishment-based leaders</span> excel at bringing organisations together for international conventions and developing summit agreements such as the Montreal and Kyoto Protocol, the Paris Agreement, Millennium Development Goals and Sustainable Development Goals.'
              }
            ],
            occurrence: 0
          }
        ],
        selectedIndex: 0
      }
    },
    computed: {
      ...mapState(['generatedReport'])
    },
    mounted () {
      this.computePersonality()
    },
    methods: {
      restartGame () {
        this.$store.commit('toggleGameProgress')
        this.$store.commit('resetGameState')
        this.$router.push('/scenario')
      },
      exitGame () {
        this.$store.commit('toggleGameProgress')
        this.$store.commit('resetGameState')
        this.$router.push('/')

        window.location.reload()
      },
      computePersonality () {
        let personalityArray = []
        this.generatedReport.forEach(report => personalityArray.push(report.personality))

        personalityArray.map(personalityFromArray => {
          this.personalities.forEach(personality => {
            if (personalityFromArray === personality.type) {
              personality.occurrence++
            }
          })
        })
      },
      percentageOccurrence (value) {
        const personalityTypes = this.generatedReport.length

        return value / personalityTypes * 100
      },
      viewPersonality (index) {
        this.selectedIndex = index
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../sass/variables";
  @import "../sass/mixins";

  .personality-chart {
    width: 128px;
    height: 128px;
    padding: 32px;
    margin: 0 auto;
    border: medium solid #E2CA9A;
    border-radius: 100%;
    @include transition(0.25s);

    > .personality-text {
      min-width: 64px;
      height: 64px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 1.75em;
      @include transition(0.25s);
    }

    &:hover,
    &.selected {
      cursor: pointer;
      border-color: #D40265;

      > .personality-text {
        color: #D40265;

        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25);
      }

      .personality-caption {
        color: #D40265;
      }
    }
  }

  .content-body {
    height: 300px;
    padding: 1.25rem;
    border: thin solid #E2CA9A;
  }

  .content-description {
    height: 250px;
    padding: 1.25rem;
    @include backgroundOpacity(0.5);
  }

  .btn-repeat {
    &:hover {
      i {
        -webkit-transition: all 1.5s;
        -moz-transition: all 1.5s;
        -ms-transition: all 1.5s;
        -o-transition: all 1.5s;
        transition: all 1.5s;

        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);

        animation-name: btn-fade;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
      }
    }
  }

  @keyframes btn-fade {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }

  .btn-choice {
    > span {
      position: relative;
      top: 35%;
    }
  }
</style>
