<template>
  <section id="scenario">
    <div class="overlay">
      <video id="video-intro" :src="require(`@/assets/videos/${resolution}/intro.mp4`)" controls autoplay
             @ended="videoEnded = true"></video>

      <div class="image-overlay" :class="[ videoEnded ? 'overlay-active' : '' ]"
           :style="{ backgroundImage: `url(${require(`@/assets/images/background.jpg`)})`}">
        <div class="d-flex justify-content-center" style="min-height: 100vh;">
          <div class="align-self-center">
            <div class="row justify-content-center text-center">
              <h2 class="header-text">Chancellor, who will you speak with next?</h2>
            </div>

            <br/>

            <div class="row justify-content-center">
              <div class="col-4">
                <div class="btn-selection text-left" :class="{ 'btn-disabled' : isSelectedScene(scene.id) }"
                     :key="scene.id" v-for="scene in scenes" @click="loadScene(scene)">
                  <div class="btn-icon">
                    <object :data="require(`@/assets/icons/icon-scene-${scene.id}.svg`)" width="48" height="48"
                            type="image/svg+xml"></object>
                  </div>
                  <div class="btn-text">{{ scene.name }}</div>
                </div>
              </div>

              <div class="col-4">
                <div class="card card-info-box">
                  <div class="card-body text-center">
                    <div class="icon-click"
                         :style="{ backgroundImage: require(`@/assets/icons/icon-mouse-click.svg`) }"></div>
                    <h4>
                      CLICKS made: <span class="text-click-count">{{ clickCount }}</span>;
                      remaining: <span class="text-click-count">{{ remainingCount }}</span>
                    </h4>

                    <hr/>

                    <div v-if="selectedScenes.length > 0">
                      <h4 class="text-left">
                        <strong>You have selected the following:</strong>
                      </h4>

                      <div class="text-left text-medium" :key="index" v-for="(selectedScene, index) in selectedScenes">
                        {{ index + 1 }})
                        <span class="text-info-highlight">Part {{ selectedScene.part }}</span>
                        -
                        {{ selectedScene.name }}
                        <hr/>
                      </div>
                    </div>

                    <div v-else>
                      <h4 class="text-left">
                        <strong>You have not selected any scenario(s) yet.</strong>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'Scenario',
    data () {
      return {
        videoEnded: false
      }
    },
    beforeRouteEnter (to, from, next) {
      document.title = `${to.meta.title} - Climate Change`

      next(vm => {
        if (vm.$store.state.clickCount >= 5) {
          vm.$store.commit('setMessage', {
            message: 'You have already exhausted 5 scenarios. Redirecting to choices...'
          })

          vm.$router.push('/choice')
        }
      })
    },
    mounted () {
      const video = this.$el.querySelector('video')

      if (video.paused) video.play()
    },
    computed: {
      ...mapState([
        'inProgress', 'resolution', 'scenes', 'clickCount', 'selectedScenes'
      ]),
      remainingCount () {
        return 5 - this.clickCount
      }
    },
    methods: {
      loadScene (scene) {
        this.incrementClickCount()
        this.setCurrentScene(scene.id)
        this.setSelectedScenario(scene.id)

        this.$router.push(`/video/${scene.id}A`)
      },
      incrementClickCount () {
        this.$store.commit('increaseClickCount')
      },
      setCurrentScene (id) {
        this.appendToCurrentScene('setCurrentScene', id)
      },
      setSelectedScenario (id) {
        this.appendToCurrentScene('setSelectedScenario', id, 'A')
      },
      appendToCurrentScene (method, id, part) {
        this.$store.commit(method, { id, part })
      },
      isSelectedScene (id) {
        return this.$store.state.selectedScenes.some(scenes => scenes.id === id)
      }
    }
  }
</script>

<style lang="scss" scoped>
  hr {
    background: #E2CA9A;
  }

  .card-info-box {
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
  }

  .icon-click {
    position: relative;
    background-size: contain;
  }

  .text-click-count {
    color: #D40265;
    font-weight: bold;
    font-size: 1.25em;
  }

  .text-medium {
    font-size: 1.25em;
  }

  .text-info-highlight {
    color: #D40265;
  }
</style>
