<template>
  <section id="splash" :style="{ backgroundImage: `url(${require(`@/assets/images/splash-screen.jpg`)})`}">
    <div class="d-flex justify-content-center" style="height: 100vh;">
      <div class="site-version">
        <p>{{ version }}</p>
      </div>

      <div class="align-self-center">
        <div class="row justify-content-center text-center">
          <div class="col-8">
            <h4 class="text-uppercase">
              Welcome elected Chancellor,
              <br/>
              leader of the United Confederation. Embark on your journey to
            </h4>
            <br/>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="text-center">
            <h1 class="header-text text-uppercase">
              Confronting Climate Change
            </h1>

            <h4>( Your decision makes a difference )</h4>
          </div>
        </div>

        <div class="row text-center margin-large-top">
          <div class="col-12">
            <a class="btn-play" @click.prevent="toggleGameProgress">
              <svg version="1.1"
                   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                   x="0px" y="0px" width="213.7px" height="213.7px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7"
                   xml:space="preserve">
                <polygon class='triangle' id="XMLID_18_" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="73.5,62.5 148.5,105.8 73.5,149.1 "></polygon>
                <circle class='circle' id="XMLID_17_" fill="none"  stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"></circle>
              </svg>
              <p class="text-uppercase">Click to begin</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import config from '../../package.json'
  import { mapState } from 'vuex'
  import LoadingScreen from '@/components/LoadingScreen'

  export default {
    name: 'Splash',
    beforeRouteEnter (to, from, next) {
      document.title = `${to.meta.title} - Climate Change`

      next(vm => {
        if (vm.$store.state.clickCount >= 5) {
          if (vm.$store.state.generatedReport.length > 0) {
            next()
          }

          vm.$store.commit('setMessage', { message: 'You have already exhausted your 5 clicks. You are now being redirected to make your choices.' })

          vm.$router.push('/choice')
        } else {
          next()
        }
      })
    },
    data () {
      return {
        version: null
      }
    },
    computed: {
      ...mapState(['inProgress', 'resolution'])
    },
    mounted () {
      this.version = `v${config.version}`
    },
    methods: {
      toggleGameProgress () {
        this.$store.commit('toggleGameProgress')
        this.$router.push('/scenario')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $primary-stroke-color: #E2CA9A;
  $secondary-stroke-color: #D40265;

  section {
    background-repeat: no-repeat;
    background-size: cover;
  }

  svg {
    width: 100px;
    height: 100px;
  }

  .header-text {
    background: rgba(0, 0, 0, 0.75);
  }

  .circle {
    stroke: $primary-stroke-color;
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    -webkit-transition: all 0.5s ease-in-out;
    opacity: 0.3;
  }

  .btn-play {
    display: inline-block;
    -webkit-transition: all 0.5s ease;

    .triangle {
      -webkit-transition: all 0.7s ease-in-out;
      stroke-dasharray: 240;
      stroke-dashoffset: 480;
      stroke: $primary-stroke-color;
      transform: translateY(0);
    }

    &:hover {
      > h4 {
        color: $primary-stroke-color;
      }

      .triangle {
        stroke-dashoffset: 0;
        opacity: 1;
        stroke: $primary-stroke-color;
        animation: nudge 0.7s ease-in-out;

        @keyframes nudge {
          0% {
            transform: translateX(0);
          }
          30% {
            transform: translateX(-5px);
          }
          50% {
            transform: translateX(5px);
          }
          70% {
            transform: translateX(-2px);
          }
          100% {
            transform: translateX(0);
          }
        }
      }

      .circle {
        stroke-dashoffset: 0;
        opacity: 1;
      }
    }
  }

  .margin-large-top {
    margin-top: 25px;
  }

  .site-version {
    position: fixed;
    bottom: 0;
    right: 25px;
  }
</style>
