<template>
  <div class="transition-slide"
       :style="{ backgroundImage: `url(${require(`@/assets/images/background.jpg`)})`, backgroundRepeat: 'no-repeat', backgroundSize: 'cover' }">
    <div class="container">
      <div class="d-flex justify-content-center" style="min-height: 100vh;">
        <div class="align-self-center">
          <div class="row justify-content-center text-center" style="position: relative;top: 42.5px;">
            <h4 class="header-text text-uppercase">
              <span>[Epilogue]</span>
            </h4>
          </div>

          <div class="row justify-content-center text-center">
            <div class="content-box">
              <div class="d-flex" style="height: 100%;">
                <div class="align-self-center">
                  <h4 class="text-center slide-text" :class="`${ slide.loaded ? 'show-content' : '' }`" :key="slide.id"
                      v-for="slide in transitions[slideIndex].slides" v-html="slide.content"></h4>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center" style="position: relative;top: -160px;">
            <div>
              <div class="btn-choice btn-next" :style="{ backgroundImage: `url(${require(`@/assets/images/btn-hexagon.svg`)})` }" @click="incrementSlideIndex">
                <span>Next</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'TransitionSlide',
    props: ['transitions', 'slideIndex'],
    data () {
      return {
        loadedAllContents: false
      }
    },
    mounted () {
      this.loadContents()
    },
    methods: {
      incrementSlideIndex () {
        if (this.slideIndex < this.transitions.length - 1) {
          this.$parent.slideIndex += 1
        } else {
          this.$parent.hasTransitionSlides = false
        }
      },
      loadContents () {
        let i = 0
        let slides = this.transitions[this.slideIndex].slides

        const tickContents = setInterval(() => {
          if (i < slides.length) {
            slides[i].loaded = true
            i++
          } else {
            this.loadedAllContents = true
            clearInterval(tickContents)
          }
        }, 1000)
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../sass/mixins";

  .transition-slide {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 5;

    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
  }

  .slide-text {
    opacity: 0;
  }

  .show-content {
    opacity: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }

  .btn-choice {
    position: relative;
    display: inline-block;

    &:before, &:after {
      content: '';
      position: absolute;
      top: 63px;
      width: 200px;
      border-top: 3px solid #E2CA9A;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
    }
  }

  .btn-next {
    position: relative;
    top: 50%;

    > span {
      position: relative;
      top: 35%;
    }
  }

  .content-box {
    width: 528px;
    position: relative;
    padding: 0 25px;
    min-height: 50vh;
    border-left: 3px solid #E2CA9A;
    border-right: 3px solid #E2CA9A;
  }

  .header-text {
    @include backgroundOpacity(0.25);

    > span {
      position: relative;
      display: inline-block;

      &:before, &:after {
        content: '';
        position: absolute;
        top: 12.5px;
        width: 200px;
        border-top: 3px solid #E2CA9A;
      }

      &:before {
        right: 100%;
        margin-right: 10px;
      }

      &:after {
        left: 100%;
        margin-left: 10px;
      }
    }
  }
</style>
