<template>
  <section id="videos">
    <div class="overlay">
      <video :src="require(`@/assets/videos/${resolution}/${$route.params.id}.mp4`)" controls autoplay
             @ended="videoEnded = true">
      </video>

      <div class="image-overlay text-center" :class="[ videoEnded ? 'overlay-active' : '' ]"
           :style="{ backgroundImage: `url(${require(`@/assets/images/background.jpg`)})`}">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
          <div class="col-12" v-if="clickCount < 5">
            <div v-show="scenePart === 'A'">
              <div class="row justify-content-center">
                <div>
                  <h4 class="header-text">{{ questionText }}</h4>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="btn-choice btn-yes"
                     :style="{ backgroundImage: `url(${require(`@/assets/images/btn-hexagon.svg`)})` }"
                     @click="loadScene(currentScene)">
                  <span></span>
                </div>

                <div class="btn-choice btn-no"
                     :style="{ backgroundImage: `url(${require(`@/assets/images/btn-hexagon.svg`)})` }"
                     @click="gotoScenario">
                  <span></span>
                </div>
              </div>
            </div>

            <div v-show="scenePart === 'B'">
              <div class="row justify-content-center">
                <div>
                  <div class="btn-choice btn-back"
                       :style="{ backgroundImage: `url(${require(`@/assets/images/btn-hexagon.svg`)})` }"
                       @click="gotoScenario">
                    <span>Chancellor's Office</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12" v-else>
            <div class="row justify-content-center">
              <div>
                <h4 class="header-text">
                  Chancellor, you have heard from the stakeholders.
                  <br/>
                  It is now time to take action.
                </h4>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-2">
                <div class="btn-choice btn-proceed"
                     :style="{ backgroundImage: `url(${require(`@/assets/images/btn-hexagon.svg`)})` }"
                     @click="navigate('Choice')">
                  <span class="text-uppercase">Take action</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'Video',
    data () {
      return {
        videoEnded: false
      }
    },
    beforeRouteEnter (to, from, next) {
      document.title = `${to.meta.title} - Climate Change`

      next(vm => {
          if (vm.$store.state.clickCount > 5 && vm.$store.state.generatedReport.length > 0) {
            vm.$store.commit('setMessage', { message: 'You have already made your choices.' })

            vm.$router.push('/report')
          } else if (vm.$store.state.clickCount > 5 && vm.$store.state.generatedReport.length === 0) {
            vm.$store.commit('setMessage', { message: 'You have already exhausted your 5 clicks.' })

            vm.$router.push('/choice')
          } else if (vm.$store.state.currentScene === null) {
            switch (vm.$store.state.inProgress) {
              case true:
                vm.$store.commit('setMessage', { message: 'An error has occurred. You have been redirected back to the selection page.' })

                vm.$router.push('/scenario')
                break
              case false:
                vm.$store.commit('setMessage', { message: 'An error has occurred. You have been redirected back to the splash screen.' })
                vm.$router.push('/')
                break
              default:
                break
            }
          }
        }
      )
    },
    computed: {
      ...mapState([
        'resolution', 'currentScene', 'selectedScenes', 'clickCount'
      ]),
      sceneId () {
        return this.$route.params.id.substr(0, 1)
      },
      scenePart () {
        return this.$route.params.id.substr(1)
      },
      questionText () {
        return this.$store.state.scenes[this.sceneId - 1].question
      }
    },
    methods: {
      loadScene (scene) {
        this.incrementClickCount()
        this.setCurrentScene(scene)
        this.setSelectedScenario(scene)

        this.$router.push(`/video/${scene}B`)

        // this.navigate('Video', { id: scene + 'B' })
      },
      incrementClickCount () {
        this.$store.commit('increaseClickCount')
      },
      setCurrentScene (id) {
        this.appendToCurrentScene('setCurrentScene', id)
      },
      setSelectedScenario (id) {
        this.appendToCurrentScene('setSelectedScenario', id, 'B')
      },
      appendToCurrentScene (method, id, part) {
        this.$store.commit(method, { id, part })
      },
      gotoScenario () {
        this.$router.push('/scenario')
      },
      navigate (path, params = {}) {
        this.$router.push({
          name: path,
          params: params
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .btn-back {
    width: 192px;
    height: 192px;

    > span {
      position: relative;
      top: 35%;
    }
  }

  .btn-proceed {
    > span {
      position: relative;
      line-height: 0.5px;
      top: 22.5%;
    }
  }

  @keyframes fade-in-out {
    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }
</style>
