<template>
  <div class="choice-funding btn-selection" :id="`choice-funding-${funding.id}`"
       :class="[{ active: isChoiceActive }, { disabled: isChoiceDisabled }]" @click="setSelection(funding.id)">
    <div class="btn-icon">
      <object :data="require(`@/assets/icons/choice/icon-${funding.id}.svg`)" width="48" height="48"
              type="image/svg+xml" :alt="`Icon of Choice ${funding.id}`"></object>
    </div>

    <div class="btn-text">{{ funding.choice }}</div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'ChoiceFunding',
    props: ['funding'],
    computed: {
      ...mapState(['selectedChoices']),
      isChoiceActive () {
        return this.selectedChoices.choiceFunding.includes(this.funding.id)
      },
      isChoiceDisabled () {
        return this.selectedChoices.choiceFunding.length >= 3 && !this.selectedChoices.choiceFunding.includes(this.funding.id)
      }
    },
    methods: {
      setSelection (id) {
        this.$store.commit('setSelection', {
          type: 'funding',
          id: id
        })

        if (this.selectedChoices.choiceCount >= 5) {
          this.$store.commit('setChoiceCompleted')
        }
      }
    }
  }
</script>
