<template>
  <section id="choices">
    <div class="overlay text-center"
         :style="{ backgroundImage: `url(${require(`@/assets/images/background.jpg`)})`, backgroundRepeat: 'no-repeat', backgroundSize: 'cover' }">
      <div class="choice-overlay" :class="[ choiceSelectionCompleted ? 'overlay-active' : '' ]"
           :style="{ backgroundImage: `url(${require(`@/assets/images/background.jpg`)})` }">
        <div class="row align-items-center justify-content-center" style="min-height: 100vh;">
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <h4 class="header-text">
                  Chancellor, you have exhausted your options.
                  <br/>
                  Would you like to proceed?
                  <br/>
                  <br/>
                  <small style="font-size: 0.75em;">
                    ( Click X to modify your responses before proceeding )
                  </small>
                </h4>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="btn-choice btn-yes"
                   :style="{ backgroundImage: `url(${require(`@/assets/images/btn-hexagon.svg`)})` }"
                   @click="generateConsequences">
                <span></span>
              </div>

              <div class="btn-choice btn-no"
                   :style="{ backgroundImage: `url(${require(`@/assets/images/btn-hexagon.svg`)})` }"
                   @click="undoChoices">
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-6">
              <h2 class="header-text">EXECUTIVE ACTION: Choose 2</h2>
              <choice-action :key="action.id" :action="action" v-for="action in choices.action"></choice-action>
            </div>

            <div class="col-6">
              <h2 class="header-text">FUND ALLOCATION: Choose 3</h2>
              <choice-funding :key="funding.id" :funding="funding" v-for="funding in choices.funding"></choice-funding>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState, mapMutations } from 'vuex'
  import ChoiceAction from '@/components/Choice/ChoiceAction.vue'
  import ChoiceFunding from '@/components/Choice/ChoiceFunding.vue'

  export default {
    name: 'Choice',
    components: { ChoiceAction, ChoiceFunding },
    beforeRouteEnter (to, from, next) {
      document.title = `${to.meta.title} - Climate Change`

      next(vm => {
        if (vm.$store.state.clickCount >= 5) {
          next()
        } else if (vm.$store.state.clickCount <= 5 && vm.$store.state.inProgress) {
          vm.$store.commit('setMessage', { message: 'You have not completed viewing 5 scenes.' })

          vm.$router.push('/scenario')
        } else {
          vm.$store.commit('setMessage', { message: 'You have not completed viewing 5 scenes.' })

          vm.$router.push('/')
        }
      })
    },
    computed: {
      ...mapState(['clickCount', 'choices', 'selectedChoices', 'choiceSelectionCompleted'])
    },
    methods: {
      generateConsequences () {
        this.$store.commit('generateConsequences')

        this.$router.push('/consequence')
      },
      undoChoices () {
        this.$store.commit('undoChoices')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .overlay {
    background: no-repeat;
    background-size: cover;
  }

  .choice-overlay {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

    &.overlay-active {
      opacity: 1;
      visibility: visible;
    }
  }
</style>
