<template>
  <div class="choice-action btn-selection" :id="`choice-action-${action.id}`"
       :class="[{ active: isChoiceActive }, { disabled: isChoiceDisabled }]" @click="setSelection(action.id)">
    <div class="btn-icon">
      <object :data="require(`@/assets/icons/choice/icon-${action.id}.svg`)" width="48" height="48" type="image/svg+xml"
              :alt="`Icon of Choice ${action.id}`"></object>
    </div>

    <div class="btn-text">{{ action.choice }}</div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'ChoiceAction',
    props: ['action'],
    computed: {
      ...mapState(['selectedChoices']),
      isChoiceActive () {
        return this.selectedChoices.choiceAction.includes(this.action.id)
      },
      isChoiceDisabled () {
        return this.selectedChoices.choiceAction.length >= 2 && !this.selectedChoices.choiceAction.includes(this.action.id)
      }
    },
    methods: {
      setSelection (id) {
        this.$store.commit('setSelection', {
          type: 'action',
          id: id
        })

        if (this.selectedChoices.choiceCount >= 5) {
          this.$store.commit('setChoiceCompleted')
        }
      }
    }
  }
</script>
