<template>
  <div>
    <!--<loading-screen :downloadSpeed="testFile.downloadSpeed" :loadingCompleted="loadingCompleted"></loading-screen>-->

    <div :class="[ isCompatibleDevice ? '' : 'incompatible-device' ]" v-if="isCompatibleDevice === false">
      <p>Your device is temporary not compatible to use this application.</p>
    </div>

    <div v-else>
      <transition name="fade" mode="out-in">
        <keep-alive include="Scenario">
          <router-view :key="$route.path"></router-view>
        </keep-alive>
      </transition>
    </div>
  </div>
</template>

<script>
  import LoadingScreen from '@/components/LoadingScreen'

  export default {
    name: 'App',
    components: { LoadingScreen },
    data () {
      return {
        loadingCompleted: false,
        isCompatibleDevice: true,
        startTime: null,
        endTime: null,
        testFile: {
          url: require(`@/assets/images/download-test-image.jpg`),
          size: null,
          downloadSpeed: 0
        }
      }
    },
    mounted () {
      // this.measureConnectionSpeed()

      window.addEventListener('resize', () => {
        this.isCompatibleDevice = self.innerWidth >= 1024
      })
    },
    methods: {
      async measureConnectionSpeed () {
        await this.getTestFileSize()

        const testFile = new Image()

        this.startTime = new Date().getTime()
        const cacheBuster = `?t=${this.startTime}`
        testFile.src = this.testFile.url + cacheBuster

        testFile.addEventListener('load', () => {
          this.endTime = new Date().getTime()

          // this.$store.commit('setLoadingCompletion', true)
          this.loadingCompleted = true

          this.showResults()

          // this.$store.commit('setDownloadSpeed', parseFloat(this.testFile.downloadSpeed))
        })
      },
      showResults () {
        const duration = (this.endTime - this.startTime) / 1000
        console.log(`File download duration: ${duration}s`)
        const bitsLoaded = this.testFile.size * 8
        const speedBps = parseFloat((bitsLoaded / duration).toFixed(2))
        const speedKbps = parseFloat((speedBps / 1024).toFixed(2))
        const speedMbps = parseFloat((speedKbps / 1024).toFixed(2))

        console.log(`Estimated download speed: ${speedMbps} Mbps`)

        this.$store.commit('setResolution', {
          resolution: speedMbps > 25 ? 'high' : 'low'
        })

        this.testFile.downloadSpeed = speedMbps

        return speedMbps
      },
      getTestFileSize () {
        return window.axios.get(this.testFile.url).then(response => {
          this.testFile.size = parseInt(response.headers['content-length'])
        })
      }
    }
  }
</script>

<style lang="scss" src="./sass/app.scss"></style>
